## This file should be copied to local.properties and modified according to your local setup
## DO NOT commit local.properties to version control

# SDK location
sdk.dir=C\:\\Users\\YourUsername\\AppData\\Local\\Android\\Sdk

# NDK location (if needed)
# ndk.dir=C\:\\Users\\YourUsername\\AppData\\Local\\Android\\Sdk\\ndk\\25.1.8937393

# CMake location (if needed)
# cmake.dir=C\:\\Users\\YourUsername\\AppData\\Local\\Android\\Sdk\\cmake\\3.22.1 